<% provide(:title, "About OnTrailAgain") %>
<h2>About</h2>

<ul>
	<li>Describe your favorite trails in US </li>
    <li>Share and check updates on a trail </li>  
	<li>Write about your experiences in a diary </li>
</ul>