<% provide(:title, "OnTrailAgain - Trails") %>
<h2>Search Trails</h2>

<%= render layout: 'shared/select_trail' do %>
	<%= link_to "Show trail", "#", id: "show_trail_button" %>
<% end %>

<% if logged_in? %>
	<%= render partial: 'common/missing_trails/missing_trail_form' %>		
<% else %>
	<div id = 'missing_trail'>
		Can't find a trail? Log in and tell us about the trail.
	</div>
<% end %>