<% provide(:title, "OnTrailAgain - #{current_user.name}'s Diary") %>
<h2>Enter Log</h2>

<div id="log_header">
	<%= render 'log_header', { log_dates: @log_dates } %>	
</div>

<div id="log_display">
	<%= render 'form', { log: @log } %>
</div>
	