<% provide(:title, "OnTrailAgain - Profile") %>

<div id = "other_links_button_wrapper">
	<div id = "other_links_button">
		<%= link_to "Change favorites", favorites_new_path %>
	</div>	
</div>

<% if @page.to_i.eql?(1) %>
	<h2>Changing Profile</h2>
<% end %>
	
<% if @page.to_i.eql?(2) %>
	<h2>Changing Password</h2>
<% end %>

<div class="project_form" role="form">
	<%= render 'edit_form', { user: @user, user_login: @user_login, page: @page } %>
</div>

<div>
	<%= link_to "Delete Account", user_path(@user_login), method: :delete, 
		class: 'delete_user_button', id: 'delete_record' %>			
</div>

 