@import "body_styling";

#log_tags {
	position: relative;
	left: 120px;
	width: 260px;
	height: 160px;
	color: indianred;
}

.log_tag_button {
	position: relative;
	left: 0px;
	cursor: default;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 2px;
	font-size: 20px;
	border-radius: 20px;
	font-weight: normal;
	text-align: center;
	background-color: white;
	color: darkgreen;
}

#log_header {
	display: table;
}

#read_log_button {
	@include body_button_styling(tan, oldlace);
	float: right;
	width: 100px;
	height: 24px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: -10px;	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;	
	cursor: pointer;
	display: table-cell;
	@media screen and (max-width: $mobile-style-width) {
		display: table-row;
		margin-bottom: 20px;
	};
	
	a {
		transition: $transition-style;
	}	
	
	a:hover {
		color: darkolivegreen;
		text-shadow: 1px 1px 1px white;
	}
	
}

#date_picker {
	display: table-cell;
	@media screen and (max-width: $mobile-style-width) {
		display: table-row;
	};
}
