// Place all the styles related to the Community::Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "body_styling";

@mixin association_styling($background_color, $color) {
	@include body_button_styling($background_color, $color);
	padding: 5px;
	margin: 5px;
}

#completed_text {
	margin-top: 20px;
	color: red;
	font-size: 24px;
	font-family: times sans-serif;
	font-style: oblique;
	font-weight: 600;
}

#interest_link {
	@include association_styling(rgb(47, 185, 47), oldlace);
}

#wishlist_link {
	@include association_styling(darkorange, oldlace);
}

#interested_status {
	color: maroon;
}

#wishlist_status {
	color: #BD7100;
	display: inline;
}

.trade_time {
	@include list_time_styling;
}

.trade_author {
	@include list_user_styling;
}

.trade_item {
	@include list_content_styling;
	a {
		color: cornflowerblue;
	}
}

.trade_item_assoc {
	@include list_content_styling;
	a {
		color: blueviolet;
	}
}

#my_trades_button {
	float: right;
	@include body_button_styling(rgb(250, 174, 114), rgb(131, 86, 55));
	padding-top: 10px;
}

#new_trade_button {
	float: left;
	@include body_button_styling(rgb(196, 192, 101), snow);
	padding-top: 10px;
}

#trades_list {
	margin-top: 30px;
}

#trade_search_phrase {
	margin-top: 80px;
	width: 300px;
}

#search_trade_button {
	@include search_button_styling;
}

#trade_selection_message {
	text-align: center;
	color: red;
	font-style: italic;
}

