// Place all the styles related to the Community::Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "body_styling";

.update_trail {
	color: lighten(darkgreen, 10%);
	font-size: 15px;
	padding: 10px 0 0 0px;
	margin-top: 5px;
	margin-bottom: -10px;
	display: block;
}

.update_time {
	@include list_time_styling;
}

.update_author {
	@include list_user_styling;
}

.update_content {
	color: cornflowerblue;
	@include list_content_styling;
}

.update_content_star {
	color: blueviolet;
	@include list_content_styling;
}
