<% if current_user_a_user?(trade) %>
	<span class="trade_item_assoc">
<% else %>
	<span class="trade_item">
<% end %>
	<%= link_to "#{trade.trade_type.humanize} #{trade.gear}", community_trade_path(trade.id) %>
</span>

<span class="trade_time">
	Posted <%= time_ago_in_words(trade.updated_at) %> ago
</span>
<span class="trader">
	by <%= link_to trade.trader.login_id, user_path(trade.trader.login_id) %> 
	<%= image_tag url_for_avatar(trade.trader, 20) -%>
</span>
