@import "body_styling";

/* variables */
/*$static_background: rgba(210, 180, 140, 0.7);
*/$static_background: rgba(170, 124, 62, 0.7);
$static_border: 2px solid brown;
$static_width: 200px;
$static_opacity: 0.5;
$h2_color: darkgreen;
$h_font_family: "Trebuchet MS", Helvetica, sans-serif;

/* mixins */
@mixin static_styling {
	width: $static_width;
	background-color: $static_background;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: visible;
/*	border-bottom: $static_border;
*/}

@mixin header_button_styling {
	border-radius: 10px;
	width: 100px;
	height: 20px;
	font-size: 18px;
/*	margin-top: -20px;
	padding-top: 14px;
	padding-bottom: 14px;
*/	margin-top: -16px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;	
}

@mixin board_styling {
	height: 100px;
	width: 160px;		
	background: image-url("images-sprite.png");
}

@mixin panel_logo_styling {
	width: 50px;
	height: 50px;
	background: image-url("images-sprite.png");
	position: relative;
	top: 10px;
	left: 75px;
	
	a {
		display: block;
		width: 50px;
		height: 50px;
	}
}

/* universal */

body {
	background: image-url('background.png') repeat fixed center center;	
/*	background: image-url('background.png') no-repeat;
	background-size: cover;
*/	margin-left: 10px;
}

/* typography */
h2 {
	color: $h2_color;
	text-align: center;
	font-family: $h_font_family;
}

h4 {
	color: lighten($h2_color, 10%);
	text-align: center;
	font-family: $h_font_family;
	font-size: 16px;
	margin-top: -10px;
	margin-bottom: 10px;
}

h5 {
	color: yellowgreen;
	text-align: center;
	font-family: $h_font_family;
	font-size: 14px;
	margin-top: 0px;
}

a {
	color: saddlebrown;
	text-decoration: none;
}

li {
	list-style-type: none;
	padding-bottom: 5px;
	font-family: Verdana;
	font-size: 13px;
	color: green;
}

input[type="submit"] {
	border: none;
	box-shadow: 2px 2px 2px olive;
}

/* header */
header {
/*	background: darkseagreen;
*/	
/*	background: rgb(125,200,125);
*/	background: rgba(85, 107, 47, 0.9);
	margin-bottom: 10px;
	font-size: 25px;
	color: sienna;
	padding-top: 20px;
	font-weight: bold;
/*	border-bottom: $static_border;
*/	height: 30px;
	
	
	#right_buttons {		
		float: right;
/*		background-color: rgb(226, 162, 136);
		color: sienna;		
		background-color: #9E533B;
		color: #FFAC30;
*/		background-color: #BE6E54;
		color: #FFE6C2;
		box-shadow: -2px 0px white;
		margin-right: 5px;
		@include header_button_styling;
	}
	
	
	#left_buttons {
		float: left;	
/*		color: rgb(226, 162, 136);
		background-color: sienna;				
*/		
		color: #9E533B;
		background-color: #FFAC30;
		box-shadow: 2px 0 white;
		@include header_button_styling;
	}
	
	
	h1 {
		text-align: center;
		margin-top: -8px;
		font-family: Arial;
		font-size: 24px;
		color: darkkhaki;
/*		text-align: center;
		margin-top: -22px;
*/
		a {
			font-family: Arial;
			font-size: 24px;
			color: darkkhaki;
			text-decoration: none;			
		}
	}	
	
}

/* footer */
footer {
	
/*	background: rgb(175,250,150);
	background: darkkhaki;
*/	background: rgba(85, 107, 47, 0.7);
	position: relative;
	bottom: 0px;
	
	margin-top: 15px;
	padding-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
/*	border-top: 2px solid darkseagreen;
*/	color: sienna;
	font-size: 16px;
	font-family: "Andale Mono";
	height: 25px;
	
	a {
/*		color: sienna;		
*/		color: #FCEC76;
		text-decoration:none;
		&:hover {
/*			color: brown;
*/			color: white;
		}
	}
	
	
	#right_links {
		float: right;
	}
	
	#left_links {
		float: left;
	}
	
	#copyright {
		font-family: Arial;
		text-align: center;
		color: white;
		font-size: 12px;
		margin-top: 5px;
	}
}


/* custom classes */
#user_individual {
	float: right;
	@include static_styling;
	right: 0;
/*	border-left: $static_border;
*/}
#user_community {
	float: left;
	@include static_styling;
	left: 0;
/*	border-right: $static_border;	
*/}
#user_dynamic {
	position: absolute;
	left: $static_width;
	right: $static_width;
	top: 0;
	bottom: 0;
	margin: 10px;	
	
	#user_display {
		overflow: scroll;
		height: 82%;		
		margin: 15px;
/*		border: 1px solid green;
		background-color: ivory;
*/		background-color: whitesmoke;
		padding-left: 10px;
		padding-right: 10px;
/*		border-radius: 10px;
*/		
		
		font-family: Helvetica;
		font-size: 13px;
		color: teal;
		
		
		.flash_error {
			@include flash_message_styling(pink, red);
		}

		.flash_success {
			@include flash_message_styling(rgb(212, 235, 172), green);
		}
		
		.edit_link {
			@include edit_delete_link_styling(rgb(106, 238, 3));
		}
		
		.delete_link {
			@include edit_delete_link_styling(red);
		}
		
		#home_trail_updates {
			margin-top: 30px;
		}
	}		
}

.home_logo {
	@include panel_logo_styling;
	background-position: 0 -100px;
}

.user_profile {
	@include panel_logo_styling;
	background-position: -50px -100px;
}

.title_board {
	height: 100px;
/*	background: image-url("board.png") no-repeat scroll top;
*/	
	box-shadow: 0px 2px yellow;
	background-color: darkgreen;
	border-radius: 20px;
	margin: 50px 20px 50px 20px;
	opacity: 0.8;
	.title_text {
		color: darkkhaki;
		padding: 34px 20px;
/*		font-family: "Comic Sans MS", cursive, sans-serif;
*/		font-family: cursive, sans-serif;
		font-size: 25px;
		text-align: center;	
		position: relative;
		top: 30px;
		left: 10px;
	}
		
	a {
		display: block;		
		height: 100px;
		width: 160px;		
	}
	
	.trails_board {
		@include board_styling;
		background-position: 0 0;	
	}

	.favorites_board {
		@include board_styling;
		background-position: -160px 0;	
	}
	
	.bazaar_board {
		@include board_styling;
		background-position: -320px 0;	
	}
	
	.diary_board {
		@include board_styling;
		background-position: -480px 0;	
	}


}

.inactive {
	opacity: 0.3;
	box-shadow: 0 0 yellow;
}

#other_links_button {
	@include body_button_styling(tan, oldlace);
	position: absolute;
	top: 80px;
	right: 40px;
	
	padding: 0 3px 3px 0;
	height: 40px;
	width: 200px;
	a {
		color:oldlace;
		position: relative;
		top: 12px;		
	}	
}

.hidden {
	display: none;
}

#hidden_request_path {
	display: none;
}

.pagination {
	float: right;
	color: goldenrod;
	a {
		color: #AA722D;
	}
}