// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "body_styling";

$photo_height: 150px;
$photo_width: 150px;

@mixin change_user_page_styling($background_color, $color) {
	@include body_button_styling($background_color, $color);
	margin: 20px;
	position: relative;
	left: 100px;
	a {
		color: oldlace;
		position: relative;
		top: 5px;	
		transition: $transition-style;
		
		&:hover {
			color: darkgreen;			
		};	
	}
}

#user_profile_photo {
	border: 1px solid grey;
	width: $photo_width;
	height: $photo_height;
}

#user_profile_info {
	margin-top: -$photo_height;
	margin-left: $photo_width + 50px;
}

#user_profile_updates {
	margin-top: 100px;
}

.change_password_button {
	@include change_user_page_styling(coral, oldlace);
}

.change_profile_button {
	@include change_user_page_styling(rgb(218, 166, 55), oldlace);
}

.delete_user_button {
	@include body_button_styling(rgb(240, 12, 39), oldlace);
	padding: 10px;
	position: relative;
	top: 50px;
	left: 150px;
	transition: $transition-style;
		
	&:hover {
		color: rgb(250, 250, 177);	
	};		 	
}	
